.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 80px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.shared-link{
    text-decoration: none;
}
.shared-style{
    width: 98%;
    height: 56px;
    border-radius: 4px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: crimson;
    color: white;
}